div
	div {{uiDocumentReferencePopover.linkDescription || 'Cross link to:'}}

	a.reference-link(
		ng-click="uiDocumentReferencePopover.previewReference()"
		ui-tooltip-content="{{uiDocumentReferencePopover.previewTooltip || 'Click to preview this cross link'}}")
		| {{uiReferencePopover.reference.metadata.title || uiReferencePopover.reference.target}}

	p(ng-if="uiReferencePopover.reference.metadata.description")
		| {{uiReferencePopover.reference.metadata.description}}

